
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: url(https://manybackgrounds.com/images/featured/pokeball-mcs4xg2ash4hj4e9.jpg);
}

body h1{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: rgb(255, 240, 240);
    text-shadow: 1px 5px 10px black;

}
.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 90px;
}
.card{
    border:1px solid black;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(66, 61, 62);
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: #faf9f6;
    transition: 2s;
}
.card:hover {
    transform: translateY(-10px) scale(1.02);
    transition: 0.5s;
    box-shadow: 0 5px 50px #faf9f6;
    border: 1px solid rgb(0, 0, 0);
}
.card img{
    width: 100%;
    height: 70%;  
}
ul{
    line-height: 1.7;
    padding: 0;
}
.pokemon-normal{
    box-shadow: 0px 3px 5px  rgb(26, 23, 24);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #727272;
}
.pokemon-electric{
    box-shadow: 0px 3px 5px  rgb(26, 23, 24);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fc3;
}

.pokemon-bug{
    background-color: #83901a;
    box-shadow: 0px 3px 5px rgb(26, 23, 24);
    padding: 5px 10px;
    border-radius: 5px;
}
.pokemon-flying{
    background-color: #89f;
    box-shadow: 0px 3px 5px  rgb(26, 23, 24);
    padding: 5px 10px;
    border-radius: 5px;
}
.pokemon-grass{
    background-color: #5cb737;
    box-shadow: 0px 3px 5px  rgb(26, 23, 24);
    padding: 5px 10px;
    border-radius: 5px;
}
.pokemon-fire{
    background-color: #f42;
    box-shadow: 0px 3px 5px  rgb(26, 23, 24);
    padding: 5px 10px;
    border-radius: 5px;

}
.pokemon-poison{
    background-color: #a59;
    box-shadow: 0px 3px 5px  rgb(26, 23, 24);
    padding: 5px 10px;
    border-radius: 5px;

    
}
.pokemon-water{
    background-color: #0080ff;
    box-shadow: 0px 3px 5px  rgb(26, 23, 24);
    padding: 5px 10px;
    border-radius: 5px;
}
.pokemon-ice{
    background-color: #6cf;
    box-shadow: 0px 3px 5px  rgb(26, 23, 24);
    padding: 5px 10px;
    border-radius: 5px;
}
.pokemon-fighting{
    background-color: #b54;
    box-shadow: 0px 3px 5px  rgb(26, 23, 24);
    padding: 5px 10px;
    border-radius: 5px;
}
.pokemon-ground{
    background-color: #db5;
    box-shadow: 0px 3px 5px  rgb(26, 23, 24);
    padding: 5px 10px;
    border-radius: 5px;
}

.pokemon-id{
    font-size: 15px;
}
.pokemon-name{
    font-size: 18px;
    color: blue;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
span{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    background: #dbdbdb;
    text-transform: uppercase;
}
.card :hover img{
        transform: scale(1.05,1);
        cursor: pointer;
        filter: drop-shadow(5px 5px 5px #333333);
}



