*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: url(https://manybackgrounds.com/images/featured/pokeball-mcs4xg2ash4hj4e9.jpg);
}

body h1{
    text-align: center;
    font-size: 70px;
    font-weight: bold;

}
.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 90px;
}
.card{
    border:1px solid black;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(66, 61, 62);
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: #faf9f6;
    transition: 2s;
    
}
.card img{
    width: 100%;
    height: 70%;  
}

ul{
    line-height: 1.5;
    padding: 0;
}
.pokemon-normal{
    background-color: #727272;
}
.pokemon-electric{
    background-color: #fc3;
}

.pokemon-bug{
    background-color: #83901a;
}
.pokemon-flying{
    background-color: #89f;
}
.pokemon-grass{
    background-color: #5cb737;
}
.pokemon-fire{
    background-color: #f42;

}
.pokemon-poison{
    background-color: #a59
}
.pokemon-water{
    background-color: #0080ff;
}
.pokemon-ice{
    background-color: #6cf
}
.pokemon-fighting{
    background-color: #b54
}
.pokemon-ground{
    background-color: #db5;
}

.pokemon-id{
    font-size: 15px;
}
.pokemon-name{
    font-size: 18px;
    color: blue;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
span{
    color: aliceblue;
}
.card  :hover{
        transform: scale(1.05,1);
        cursor: pointer;
}



